@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<style>
    p {
        text-align: center;
        color: #FF6B6B; /* Hata mesajları için kırmızımsı renk */
        font-weight: bold;
        margin-bottom: 15px;
    }
</style>
<p>2024-2025 Web Programlama Proje Ödevi G221210383 Metin AYDIN</p>
