@{
    ViewData["Title"] = "Kullanıcı Paneli";
}

<h2>Kullanıcı Paneli</h2>
<p>Merhaba,!</p>

<ul>
    <li><a href="/Appointment/Create">Randevu Al</a></li> <!-- Randevu Al bağlantısı eklendi -->
    <li><a href="/Appointment/MyAppointments">Randevularımı Görüntüle</a></li>
    <li><a href="/User/Logout">Çıkış Yap</a></li>
</ul>
